<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Police shootings</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<header class="header">
    <nav class="bg-white text-dark navbar navbar-expand-lg fixed-top py-3">
        <div class="container">
            <h1>Police Shooting in the US</h1>

            <a id="toggle-explications" class="btn nav-link text-uppercase font-weight-bold" onclick="toggleButton()" data-toggle="collapse" href=".multi-collapse" role="button">
                Afficher les explications
            </a>
        </div>
    </nav>
</header>

<body>
<br><br><br><br><br>

<div class="container">
  <div class="row">
    <div  id="map" class="col">
        <h2>Carte du nombre de meurtre par la police par état</h2>
        <div class="collapse multi-collapse" id="collapseExample">
          <div class="card card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          </div>
        </div>
    </div>

  </div>
  <div class="row">
    <div id="stacked_area" class="col">
        <div>
            <h2>Stacked area chart</h2>
            <h4>Réprésente l'évolution du nombre de morts en fonction de l'ethnie au cours du temps</h4>
            <div class="collapse multi-collapse" id="collapseExample3">
              <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>
        </div>
    </div>
    <div id="treemap" class="col">
        <h2>Map de répartition globale des tueries en fonction par villes (top 3) et états</h2>
        <h4>Voir les détails complet au survol</h4>
        <div class="collapse multi-collapse" id="collapseExample2">
          <div class="card card-body">
            <p>
                Ce graphique met en lumière la masse par état sur l'ensemble du pays.
            </p><p>
                Afin de ne pas saturer le grpahique, on n'affiche que les 3 villes avec le plus de morts par état.
            </p><p>
                De même, pour ne pas superposer les écritures, si les rectangles sont trop petit on n'affiche pas le nom de la ville.
            </p><p>
                Enfin, en cas de largeur d'un "rectangle état" pas assez large, on remplace son nom par son code voire par rien.
            </p>
          </div>
        </div>
    </div>

  </div>
    <div class="row">
      <div id="commentaires" class="col">
          <h2>Explications</h2>
            <p>
                Pal an deskadurezh eo diorren personelezh mab-den ha lakaat doujañ muioc'h gwirioù mab-den hag ar frankizioù diazez. Drezi e klaskor kreskiñ ar c'hengompren, an habaskted hag ar vignoniezh etre an holl vroadoù hag an holl strolladoù a ouenn pe a relijion disheñvel, hag ivez kas war-raok obererezh ar Broadoù-Unanet evit derc'hel ar peoc'h.
            </p>
            <p>
                Gwir o deus ar wazed hag ar merc'hed adalek an oad da zimeziñ, ne vern o gouenn, o broadelezh, pe o relijion, da zimeziñ ha da sevel tiegezh. Gwirioù par zo dezho e-keñver an dimeziñ, e-pad ar briedelezh hag e-keñver an dibriediñ.

            </p>
            <p>
                An neb a labour en deus gwir da vezañ paeet reizh ha mat evit ma c'hellfe, eñ hag e diegezh, bevañ en un doare a zere ouzh dellezegezh mab-den, ha mar deo ret ouzhpenn, da gaout gwarez kevredigezhel dre hentoù all.
            </p>

      </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script src="https://cdn.jsdelivr.net/npm/htl"></script>
<script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.3"></script>

<script>
let toggler = false
function toggleButton (){
    if (toggler === true) {
        document.getElementById("toggle-explications").innerHTML = "Afficher les explications";
    } else if (toggler === false) {
       document.getElementById("toggle-explications").innerHTML = "Cacher les explications";
   }
    toggler = !toggler;
}
</script>

<script type="text/javascript" src="https://d3js.org/d3.v7.min.js"></script>

<script src="javascripts/us_map.js"></script>
<script src="javascripts/treemap.js"></script>
<script src="javascripts/stacked_area.js"></script>
<script src="javascripts/table.js"></script>
<script src="javascripts/dataloader.js"></script>


</body>
</html>


