<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome template</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

<div id="map"></div>
<div id="treemap"></div>
<script type="text/javascript" src="https://d3js.org/d3.v7.min.js"></script>

<!-- <script src="javascripts/code.js"></script> -->
<script src="javascripts/us_map.js"></script>
<script src="javascripts/treemap.js"></script>
<script src="javascripts/stacked_area.js"></script>
<script src="javascripts/table.js"></script>

</body>
</html>


